/* Variables */
:root {
  --purple: #ad1fea;
  --sea-blue: #4661e6;
  --v-dk-blue: #373f68;
  --white: #ffffff;
  --lt-grey: #f2f4ff;
  --v-lt-grey: #f7f8fd;
  --dk-blue: #3a4374;
  --grey: #647196;
  --orange: #f49f85;
  --sky-blue: #62bcfa;
  --red: #d73737;
}
