@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'styles/config.css';
@import 'styles/utilities.css';

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  min-width: 980px;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: var(--lt-grey);
}

/* Homepage Layout */
#sidebar-sugg-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Fembanner */
#fem-banner {
  display: flex;
  flex-direction: column;
  width: 207px;
  height: 89px;
  padding: 24px;
  margin: 0 30px 24px 0;
  border-radius: 10px;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  color: var(--white);
  justify-content: flex-end;
}

/* Tags */
#tags-container {
  display: flex;
  flex-wrap: wrap;
  width: 207px;
  height: 118px;
  padding: 24px;
  margin: 24px 30px 24px 0;
  border-radius: 10px;
  background-color: var(--white);
}

/* Roadmap */
#roadmap-page {
  min-width: 980px;
}

#roadmap-container {
  display: flex;
  flex-direction: column;
  width: 207px;
  height: 130px;
  padding: 24px;
  margin: 24px 30px 0 0;
  border-radius: 10px;
  background-color: var(--white);
}

#rm-title {
  display: flex;
  justify-content: space-between;
  color: var(--dk-blue);
  margin-bottom: 24px;
}

#rm-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rm-list-item {
  display: flex;
  align-items: center;
  color: var(--grey);
}

.rm-num {
  margin-left: auto;
}

/* Header */
#header-container {
  display: flex;
  align-items: center;
  height: 44px;
  border-radius: 10px;
  padding: 14px 16px;
  background-color: var(--v-dk-blue);
  color: white;
  margin-bottom: 12px;
}

#header-container > * {
  margin-right: 25px;
}

#header-btn {
  margin-left: auto;
  margin-right: 0px;
}

#mobile-header {
  display: none;
}

/* Empty Suggestions */
#empty-image-container {
  display: flex;
  flex-direction: column;
  height: 440px;
  padding: 28px 0;
  border-radius: 10px;
  display: flex;
  background-color: var(--white);
  margin: 24px 0;
  align-items: center;
  justify-content: center;
}

#empty-sugg-title {
  color: var(--dk-blue);
  margin-bottom: 15px;
  margin-top: 50px;
}

#empty-sugg-desc {
  width: 50%;
  color: var(--grey);
  margin-bottom: 50px;
  text-align: center;
}

/* Roadmap Header */
#roadmap-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  border-radius: 10px;
  padding: 14px 32px;
  background-color: var(--v-dk-blue);
  color: white;
  margin-bottom: 12px;
}

#rm-head-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#left-arrow {
  margin-right: 10px;
}

/* Roadmap Requests Container */
#roadmap-reqs {
  display: flex;
  justify-content: space-between;
}

/* Comments Component */
#sugg-comms-cont {
  width: 800px;
  margin: auto;
}

#comments-header {
  display: flex;
  flex-direction: column;
}

#coms-head-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#coms-cont {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  padding: 24px 34px;
  margin-bottom: 24px;
}

#coms-cont .comment-container {
  border-bottom: 2px solid var(--lt-grey);
}

#coms-cont .comment-container:last-child {
  border-bottom: none;
}

#num-of-coms {
  color: var(--dk-blue);
  margin-right: auto;
}

#add-com-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--white);
  border-radius: 10px;
  padding: 24px 34px;
  height: 250px;
}

#add-com-title {
  color: var(--dk-blue);
}

#comment-input {
  border: none;
  outline: none;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--lt-grey);
  color: var(--grey);
  height: 70px;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  align-items: flex-start;
  justify-content: flex-start;
}

#comment-input:hover,
#comment-input:focus {
  cursor: pointer;
  border: 1px solid var(--sea-blue);
  height: 68px;
}

#comment-input.alert,
#comment-input.alert:hover,
#comment-input.alert:focus {
  border: 1px solid red;
  height: 68px;
}

#add-com-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chars-left {
  color: var(--grey);
}

#mob-reqs-disp {
  display: none;
}

/* Tablet Media Queries */
@media (max-width: 800px) {
  html {
    min-width: 200px;
    width: 95%;
    margin: auto;
  }

  #sidebar-sugg-layout {
    display: flex;
    flex-direction: column;
  }

  #side-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  #fem-banner {
    height: 138px;
    width: 25%;
    margin: 0px;
  }

  #tags-container {
    height: 138px;
    width: 25%;
    margin: 0px;
  }

  #roadmap-container {
    height: 138px;
    width: 25%;
    margin: 0px;
  }

  #sugg-comms-cont {
    width: auto;
  }

  .modal-container {
    align-items: flex-start;
    padding-top: 100px;
  }

  #roadmap-page {
    min-width: 200px;
  }

  .req-cards-container {
    width: 32%;
  }

  .suggestion-component {
    padding: 28px 0;
  }

  .suggestion-component:hover {
    border: none;
    padding: 28px 0;
  }
}

/* Cell Phone Media Queries */
@media (max-width: 500px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .main-app {
    padding: 2.5rem 1.5rem;
  }

  #side-bar-container {
    display: none;
  }

  #header-container > svg {
    display: none;
  }

  #header-container > h3 {
    display: none;
  }

  #header-container > * {
    margin: 0;
  }

  #header-container {
    position: absolute;
    justify-content: space-around;
    top: 72px;
    left: 0;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    height: 56px;
    width: 100%;
  }

  #empty-sugg-desc {
    width: 80%;
  }

  #all-suggs {
    margin-top: 100px;
  }

  .dropdown-container {
    top: 60px;
    left: 60px;
    z-index: 10;
    background-color: var(--v-lt-grey);
  }

  .dropdown-text {
    background-color: var(--v-lt-grey);
  }

  .suggestion-component {
    position: relative;
    height: 255px;
    padding: 0;
  }

  .suggestion-component:hover {
    padding: 0;
  }

  .suggestion-component > * {
    margin-left: 15px;
    margin-right: 15px;
  }

  .upvote {
    position: absolute;
    top: 195px;
    left: 0;
    width: 70px;
    height: 40px;
    flex-direction: row;
  }
  .tit-desc-cat {
    position: absolute;
    height: 150px;
    top: 15px;
    left: 0;
  }
  .comments-n-num {
    position: absolute;
    top: 210px;
    right: 0;
  }

  .comment-container {
    padding-left: 0px;
  }

  .comment-top {
    padding-left: 45px;
  }

  .reply-container {
    padding-left: 0px;
  }

  .grey-line {
    left: -15px;
    top: 0;
    height: calc(100% - 100px);
  }

  #add-com-bot input {
    width: 118px;
  }

  .modal-container {
    padding-top: 0;
    width: 100vw;
    height: 140vh;
  }

  .modal-content {
    height: 115vh;
  }

  .modal-body {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
  }

  .modal-footer {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .modal-footer-edit {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  .modal-footer > * {
    width: 100%;
    margin: 0;
  }

  .modal-footer-edit > * {
    width: 100%;
    margin: 0;
  }

  /* Mobile Header */
  #mobile-header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: radial-gradient(
      128.88% 128.88% at 103.9% -10.39%,
      #e84d70 0%,
      #a337f6 53.09%,
      #28a7ed 100%
    );
  }

  #mobile-header-left {
    margin-left: 12px;
  }

  #mobile-header-title {
    color: var(--white);
  }

  #mobile-header-title-light {
    color: var(--lt-grey);
  }

  #ham-close {
    margin-right: 12px;
  }

  #mobile-sidebar-overlay {
    position: absolute;
    top: 72px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }

  #mobile-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
    background-color: var(--v-lt-grey);
    right: 0;
  }

  #tags-container {
    margin: 20px 0;
    width: 70%;
  }

  #roadmap-container {
    width: 70%;
  }

  #roadmap-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    border-radius: 0;
    padding: 0;
  }

  #roadmap-header > button {
    width: 135px;
    margin-right: 24px;
  }

  #rm-head-left > h1 {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: -0.25;
    font-weight: bold;
    margin-left: 24px;
  }

  #mob-reqs-disp {
    position: absolute;
    display: flex;
    top: 100px;
    left: 0;
    height: 70px;
    width: 100vw;
    border-bottom: 1px solid var(--grey);
    justify-content: space-evenly;
    align-items: center;
  }

  .mob-reqs-disp-opt {
    color: var(--grey);
    font-weight: bold;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  .active-display-title {
    color: var(--dk-blue);
  }

  #mob-reqs-disp-planned.active-display-title {
    border-bottom: 4px solid var(--orange);
  }

  #mob-reqs-disp-inprogress.active-display-title {
    border-bottom: 4px solid var(--purple);
  }

  #mob-reqs-disp-live.active-display-title {
    border-bottom: 4px solid var(--sky-blue);
  }

  #roadmap-reqs {
    margin-top: 100px;
  }

  .req-cards-container {
    width: auto;
  }
}
